<p id="notice"><%= notice %></p>

<p>
  <strong>Survey:</strong>
  <%= @submission.survey_id %>
</p>

<%= link_to 'Edit', edit_submission_path(@submission) %> |
<%= link_to 'Back', submissions_path %>
